
@{
    ViewBag.Title = "create";
}

<h2>新增客戶資料</h2>

<form  method="post" action="mi">
    <p>姓名</p>
    <p><input type="text" name="" /></p>
    <p>電話</p>
    <p><input type="tel" name="" /></p>
    <p>電子郵件</p>
    <p><input type="email" name="" /></p>
    <p>地址</p>
    <p><input type="text" name="" /></p>
    <p>密碼</p>
    <p><input type="password" name="" /></p>
    <p><input type="submit" value="OK" onclick="btnOK_click" /></p>
</form>                                      